<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <h1>Claudine Afflick</h1>
        <p>My name is Claudine Afflick. I am an undergraduate student at the University of the West Indies. 
        I am presently pursuing a degree in Computer Science. I chose this field because I admire the world of technology and how much it has evolved over time.
        I am more drawn to database, software and website development. I find these aspects of Computing very interesting because I enjoy learning about them and I also enjoy practicing the development in these areas.</p>
    </body>
</html>